{% include "header.html" %}
{% block main_head_content %}

    <style>
        .card {
        width: 40%;
        margin-top: 5%;
    }
    </style>
{% endblock %}

<style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600&display=swap');

    @media screen and (min-width: 991px) {
        .left-nav {
            margin-right: auto !important;
        }

        .right-nav {
            margin-left: auto !important;
        }

        #nav-link-signup {
            display: none;
        }

        .btn-purple, .btn-purple:hover, .btn-purple:active, .btn-purple:visited {
            background-color: #CF00FF !important;
        }
    }

    @media screen and (max-width: 990px) {
        #nav-btn-signup {
            display: none;
        }
    }

    .nav-font {
        font-family: 'Raleway', sans-serif;
        font-size: 1.875rem;
    }

    header {
        margin: 4em auto 0;
        text-align: center;
    }

    .nav-item {
        font-family: 'Raleway', sans-serif;
        font-size: 1.375rem;
        font-weight: 600;
    }

    body {
        height: 100%;
        background: #F4F4F4 linear-gradient(180deg, #7F00FF 0%, #E100FF 100%) no-repeat fixed;
        margin: 0;
    }


    .navbar {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0 0 8px 8px;
    }

    .btn-purple, .btn-purple:hover, .btn-purple:active, .btn-purple:visited {
        background-color: #CF00FF !important;
    }

    #nav-btn-signup {
        color: #ffffff;
    }

    #doc-loader {
        margin: 5% 0 0;
    }

    .record-frame {
        display: flex;
        flex-direction: row;
        background: #ffffff;
        width: fit-content;
        margin-left: 1em;
        justify-content: center;
        padding: .375em;
        box-shadow: .2em .1em 1em #5a5a5a;
    }

    .record-frame > button {
        margin-right: .5em;
        margin-left: .5em;
    }

    .hidden {
        display: none;
    }

    /* Classes for main*/
    {% block signup_styles %}

        {% block login_styles %}
            .card {
                display: table;
            }
            .card-body {
                line-height: 1.3;
                display: table-cell;
            }
        {% endblock %}
    {% endblock %}
</style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="{{ static('images/headphones.svg') }}" width="45" height="45" class="d-inline-block" alt="">
        <span class="nav-font p-3 align-middle">Sound Of Music</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav left-nav">
        </div>
        <div class="navbar-nav right-nav">
            {% if request.user.is_authenticated %}
                <span class="nav-item" style="padding: .5rem 1rem;">Hello, {{ request.user.username }}</span>
                <a class="nav-item nav-link" href="/recordings" style="padding: .5rem 1rem;">Recordings</a>

                <a class="nav-item nav-link" href="/logout"><span id="nav-login">Logout</span></a>
            {% else %}
                <a class="nav-item nav-link" href="/login"><span id="nav-login">Login</span></a>
                <a class="nav-item nav-link" id="nav-link-signup" href="/signup">Sign Up</a>
                <button class="btn btn-purple nav-item nav-link" id="nav-btn-signup"
                        onclick="window.location.href='/signup'">Sign Up
                </button>
            {% endif %}
        </div>
    </div>
</nav>

{% block main_content %}
    <div class="main">
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Try our piano</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a nisi tincidunt urna aliquam
                    interdum. Praesent feugiat orci quis augue accumsan sodales. In in nunc tincidunt, hendrerit
                    nisi
                    at, fermentum magna.</p>

            </div>
            <div class="card-body">
                <img src="{{ static('images/piano.svg') }}" style="width: 12em; height: 9em;" alt="">
            </div>
        </div>
    </div>
{% endblock %}

{% block main_body_scripts %}{% endblock %}
<script type="text/javascript">
</script>
<!-- <audio src="/download" id="test-audio"></audio> -->
<script type="text/javascript" src="{{ static('js/bootstrap.min.js')}}"></script>
</body>
</html>