{% extends "index.html" %}
{% block user_main_head_content %}
    <link rel="stylesheet" href="{{ static('css/styles.css') }}">
{% endblock %}


{% block user_main_piano %}
    <section id="wrap">
        <header>
            <h1>Piano</h1>
            <h2>Use your keyboard. Hover for hints.</h2>
        </header>
        <section id="main">
            <div class="nowplaying"></div>
            <div class="keys">
                <div data-key="65" class="key" data-note="C">
                    <span class="hints">A</span>
                </div>
                <div data-key="87" class="key sharp" data-note="C#">
                    <span class="hints">W</span>
                </div>
                <div data-key="83" class="key" data-note="D">
                    <span class="hints">S</span>
                </div>
                <div data-key="69" class="key sharp" data-note="D#">
                    <span class="hints">E</span>
                </div>
                <div data-key="68" class="key" data-note="E">
                    <span class="hints">D</span>
                </div>
                <div data-key="70" class="key" data-note="F">
                    <span class="hints">F</span>
                </div>
                <div data-key="84" class="key sharp" data-note="F#">
                    <span class="hints">T</span>
                </div>
                <div data-key="71" class="key" data-note="G">
                    <span class="hints">G</span>
                </div>
                <div data-key="89" class="key sharp" data-note="G#">
                    <span class="hints">Y</span>
                </div>
                <div data-key="72" class="key" data-note="A">
                    <span class="hints">H</span>
                </div>
                <div data-key="85" class="key sharp" data-note="A#">
                    <span class="hints">U</span>
                </div>
                <div data-key="74" class="key" data-note="B">
                    <span class="hints">J</span>
                </div>
                <div data-key="75" class="key" data-note="C">
                    <span class="hints">K</span>
                </div>
                <div data-key="79" class="key sharp" data-note="C#">
                    <span class="hints">O</span>
                </div>
                <div data-key="76" class="key" data-note="D">
                    <span class="hints">L</span>
                </div>
                <div data-key="80" class="key sharp" data-note="D#">
                    <span class="hints">P</span>
                </div>
                <div data-key="186" class="key" data-note="E">
                    <span class="hints">;</span>
                </div>
            </div>

            <audio data-key="65" src="{{ static('sounds/40.wav')}}"></audio>
            <audio data-key="87" src="{{ static('sounds/41.wav')}}"></audio>
            <audio data-key="83" src="{{ static('sounds/42.wav')}}"></audio>
            <audio data-key="69" src="{{ static('sounds/43.wav')}}"></audio>
            <audio data-key="68" src="{{ static('sounds/44.wav')}}"></audio>
            <audio data-key="70" src="{{ static('sounds/45.wav')}}"></audio>
            <audio data-key="84" src="{{ static('sounds/46.wav')}}"></audio>
            <audio data-key="71" src="{{ static('sounds/47.wav')}}"></audio>
            <audio data-key="89" src="{{ static('sounds/48.wav')}}"></audio>
            <audio data-key="72" src="{{ static('sounds/49.wav')}}"></audio>
            <audio data-key="85" src="{{ static('sounds/50.wav')}}"></audio>
            <audio data-key="74" src="{{ static('sounds/51.wav')}}"></audio>
            <audio data-key="75" src="{{ static('sounds/52.wav')}}"></audio>
            <audio data-key="79" src="{{ static('sounds/53.wav')}}"></audio>
            <audio data-key="76" src="{{ static('sounds/54.wav')}}"></audio>
            <audio data-key="80" src="{{ static('sounds/55.wav')}}"></audio>
            <audio data-key="186" src="{{ static('sounds/56.wav')}}"></audio>
        </section>
    </section>

{% endblock %}

{% block user_main_body_scripts %}
    <script src="{{ static('js/index.js') }}"></script>
{% endblock %}