{% extends "index.html" %}
{% block main_head_content %}
    <link rel="stylesheet" href="{{ static('css/styles.css') }}">
{% endblock %}
{% block signup_styles %}

    .tutorial{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    }

{% endblock %}

{% block main_content %}
    <section id="wrap">
        <div class="modal fade" id="tutorial-modal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Welcome to the sound of music!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div>
                            <a class="sr-only sr-only-focusable" href="#">Hello {{ request.user.first_name }},
                                This is an automated message which will show you how to use this web application.

                                In order to navigate back an forth, you will have to use the tab key and the tab key
                                while the
                                shift key is pressed. In order to enable something on the website, you must first
                                navigate to it
                                and press the enter key. To use this website, first navigate to the record button by
                                pressing
                                the tab key on your keyboard and enable it. Start playing the piano using the keyboard
                                and then
                                navigate to the stop button to stop the recording. Then navigate to the save button to
                                save the
                                recording to your account.
                                To view your recordings, navigate to the recordings link.</a>
                        </div>
                        Hello {{ request.user.first_name }},
                        This is an automated message which will show you how to use this web application.

                        In order to navigate back an forth, you will have to use the tab key and the tab key while the
                        shift key is pressed. In order to enable something on the website, you must first navigate to it
                        and press the enter key. To use this website, first navigate to the record button by pressing
                        the tab key on your keyboard and enable it. Start playing the piano using the keyboard and then
                        navigate to the stop button to stop the recording. Then navigate to the save button to save the
                        recording to your account.
                        To view your recordings, navigate to the recordings link.

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="download-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Download File</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="filename" class="col-form-label">File Name:</label>
                                <input type="text" class="form-control" placeholder="Enter filename" id="filename">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="save();">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <header>
            <div class="tutorial">
                <button class="btn btn-warning mr-4" tabindex="0" onclick="$('#tutorial-modal').modal()">Tutorial
                </button>
            </div>
            <h1>Piano</h1>
            <h2>Use your keyboard. Hover for hints.</h2>
        </header>
        <section id="main">
            <div class="nowplaying"></div>
            <div class="bg-white rounded record-frame">
                <button class="btn btn-outline-success" onclick="startRecording();">Record</button>
                <button class="btn btn-outline-danger" onclick="stopRecording();">Stop</button>
                <button class="btn btn-outline-dark hidden" id="save" onclick="modal_function();">Save</button>
            </div>
            <div class="keys">
                <div id="countdown" class="keys countdown-div hidden"><h1 id="countdown_text">HSHSHHS</h1></div>
                <div id="piano_layout_main" class="keys">

                    <div data-key="65" class="key" data-note="C">
                        <span class="hints">A</span>
                    </div>
                    <div data-key="87" class="key sharp" data-note="C#">
                        <span class="hints">W</span>
                    </div>
                    <div data-key="83" class="key" data-note="D">
                        <span class="hints">S</span>
                    </div>
                    <div data-key="69" class="key sharp" data-note="D#">
                        <span class="hints">E</span>
                    </div>
                    <div data-key="68" class="key" data-note="E">
                        <span class="hints">D</span>
                    </div>
                    <div data-key="70" class="key" data-note="F">
                        <span class="hints">F</span>
                    </div>
                    <div data-key="84" class="key sharp" data-note="F#">
                        <span class="hints">T</span>
                    </div>
                    <div data-key="71" class="key" data-note="G">
                        <span class="hints">G</span>
                    </div>
                    <div data-key="89" class="key sharp" data-note="G#">
                        <span class="hints">Y</span>
                    </div>
                    <div data-key="72" class="key" data-note="A">
                        <span class="hints">H</span>
                    </div>
                    <div data-key="85" class="key sharp" data-note="A#">
                        <span class="hints">U</span>
                    </div>
                    <div data-key="74" class="key" data-note="B">
                        <span class="hints">J</span>
                    </div>
                    <div data-key="75" class="key" data-note="C">
                        <span class="hints">K</span>
                    </div>
                    <div data-key="79" class="key sharp" data-note="C#">
                        <span class="hints">O</span>
                    </div>
                    <div data-key="76" class="key" data-note="D">
                        <span class="hints">L</span>
                    </div>
                    <div data-key="80" class="key sharp" data-note="D#">
                        <span class="hints">P</span>
                    </div>
                    <div data-key="186" class="key" data-note="E">
                        <span class="hints">;</span>
                    </div>
                </div>
            </div>
            <audio data-key="65" data-audio="40" src="{{ static('sounds/40.wav')}}"></audio>
            <audio data-key="87" data-audio="41" src="{{ static('sounds/41.wav')}}"></audio>
            <audio data-key="83" data-audio="42" src="{{ static('sounds/42.wav')}}"></audio>
            <audio data-key="69" data-audio="43" src="{{ static('sounds/43.wav')}}"></audio>
            <audio data-key="68" data-audio="44" src="{{ static('sounds/44.wav')}}"></audio>
            <audio data-key="70" data-audio="45" src="{{ static('sounds/45.wav')}}"></audio>
            <audio data-key="84" data-audio="46" src="{{ static('sounds/46.wav')}}"></audio>
            <audio data-key="71" data-audio="47" src="{{ static('sounds/47.wav')}}"></audio>
            <audio data-key="89" data-audio="48" src="{{ static('sounds/48.wav')}}"></audio>
            <audio data-key="72" data-audio="49" src="{{ static('sounds/49.wav')}}"></audio>
            <audio data-key="85" data-audio="50" src="{{ static('sounds/50.wav')}}"></audio>
            <audio data-key="74" data-audio="51" src="{{ static('sounds/51.wav')}}"></audio>
            <audio data-key="75" data-audio="52" src="{{ static('sounds/52.wav')}}"></audio>
            <audio data-key="79" data-audio="53" src="{{ static('sounds/53.wav')}}"></audio>
            <audio data-key="76" data-audio="54" src="{{ static('sounds/54.wav')}}"></audio>
            <audio data-key="80" data-audio="55" src="{{ static('sounds/55.wav')}}"></audio>
            <audio data-key="186" data-audio="56" src="{{ static('sounds/56.wav')}}"></audio>
            <audio id="start-record" src="{{ static('sounds/start_sound.mp3')}}"></audio>
            <audio id="stop-record" src="{{ static('sounds/stop_sound.mp3')}}"></audio>
            <input type="hidden" id="csrf" value="{{ csrf_token }}">
        </section>
    </section>

{% endblock %}

{% block main_body_scripts %}
    <script src="{{ static('js/index.js') }}"></script>

    <script>
        var isSaving = false;

        function modal_function() {
            $("#download-modal").modal();
            isSaving = true;
        }

        $("#download-modal").on("hidden.bs.modal", function () {
            isSaving = false;
        });
        {% if not g.bool(request.user.customuser.last_logout) %}
            $("#tutorial-modal").modal();
        {% endif %}
    </script>
{% endblock %}